/* Contenedor del formulario */
.formulario {
  max-width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background: var(--color-primario);
  border-radius: 5px;
  box-shadow: 0px 4px 8px var(--color-primario);
  border: 1px solid var(--color-primario);
}

/* Título del formulario */
.formulario h2 {
  text-align: center;
  color: var(--color-cuaternario2);
  margin-bottom: 15px;
}

/* Contenedor de los campos */
.formulario .contenedor-campos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;  /* Permite que los campos pasen a la siguiente línea si no caben */
  gap: 10px; /* Espaciado entre elementos */
}

/* Contenedor de cada campo */
.formulario div {
  margin-bottom: 15px;
}


/*Botones del formulario*/
.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}
  