@import url("../style.css");

.sobre-nosotros {
  background-color: var(--color-cuaternario2);
  text-align: center;
}

.sobre-nosotros h3, .sobre-nosotros h2 {
  text-align: center;
  margin: 0px 20px;
  padding: 20px;
  font-weight: 700;
  font-size: 35px;
  color: var(--color-primario);
}
/*Secciones de Misión y visión*/
.seccion-mision-vision {
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/*Tarjetas*/
.card-sec-mi-vi {
  width: 30rem;
  height: 300px;
  background: var(--color-cuaternario);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 3px 1px #00000088;
  cursor: pointer;
  border-radius: 5px;
}

.content-sec-mi-vi h5 {
  font-weight: 700;
  font-size: 25px;
  color: var(--color-secundario);
}

.content-sec-mi-vi p {
  font-family: var(--letra-parrafos);
  font-size: 16px;
  color: var(--color-cuaternario2);
}
.card-sec-mi-vi .content-sec-mi-vi {
  border-radius: 5px;
  background: var(--color-primario);
  width: 450px;
  height: 270px;
  z-index: 1;
  padding: 20px;
  color: var(--color-cuaternario2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content-sec-mi-vi::before {
  opacity: 0;
  transition: opacity 300ms;
  content: " ";
  display: block;
  background: white;
  width: 5px;
  height: 50px;
  position: absolute;
  filter: blur(50px);
  overflow: hidden;
}

.card-sec-mi-vi:hover .content::before {
  opacity: 1;
}

.card-sec-mi-vi::before {
  opacity: 0;
  content: " ";
  position: absolute;
  display: block;
  width: 80px;
  height: 400px;
  background: linear-gradient(red, red);
  transition: opacity 300ms;
  animation: rotation_9018 8000ms infinite linear;
  animation-play-state: paused;
}

.card-sec-mi-vi:hover::before {
  opacity: 1;
  animation-play-state: running;
}

.card-sec-mi-vi::after {
  position: absolute;
  content: " ";
  display: block;
  width: 480px;
  height: 360px;
  background: #17171733;
  backdrop-filter: blur(50px);
}

@keyframes rotation_9018 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*Sección de redes sociales y quejas, recursos y peticiones*/
.seccion-quejas-redes {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Seccion redes sociales*/
.redes-sociales {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.redes-sociales h5 {
  width: 50%;
  font-size: 30px;
  font-weight: 700;
  color: var(--color-primario);
}

.redes-sociales p {
  width: 100%;
  font-family: var(--letra-parrafos);
  color: var(--color-cuaternario);
  text-align: start;
}

.redes-sociales .logos-redsoc {
  width: 100%;
  margin: 10px auto;
  display: flex;
  align-items: center;
}

.redes-sociales .button::before {
  background-color: var(--color-cuaternario);
}
/*Sección quejas peticiones y recursos*/
.quejas-peticiones {
  width: 45%;
  margin: 20px 0px;
}

.colorful-form-peticiones {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--color-cuaternario);
  border-radius: 10px;
}

.form-group-peticiones {
  margin-bottom: 20px;
}

.form-label-peticiones {
  display: block;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
  color: var(--color-secundario);
  font-family: var(--letra-subtitulos1);
}

.form-input-peticiones {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--color-cuaternario2);
  border-radius: 5px;
}

textarea.form-input-peticiones {
  height: 100px;
}

.form-button-peticiones {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--color-terciario);
  color: var(--color-cuaternario2);
  font-family: var(--letra-botones);
  letter-spacing: 2px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button-peticiones:hover {
  background-color: var(--color-secundario);
}
